<table class="table table-striped table-bordered table-condensed">
	<h1>Alle Spieler im Überblick</h1>
	<tr>
		<th>Platz</th>
		<th>Name</th>
		<th>Allianz</th>
		<th>Score</th>
	</tr>
	<% x=1 %>
	<% @users.each do |user| %>
		<tr>
			<td><%=x%></td>
			<td><%=user.username%></td>
			<% if user.alliance!=nil %>
				<td><%=user.alliance.name%></td>
			<% else %>
				<td></td>
			<% end %>		
			<td><%=user.score%></td>
		</tr>
		<%x=x+1%>
	<% end %>
</table>