<h1>Available Ships</h1>
<table>
<% @planets.each do |p|%>
<% unless @shipshelper.get_available_ships(p).empty? %>
  <tr>
    <td><%= p.name %></td>
    <% @shipshelper.get_available_ships(p).each do |s| %>
    <td><%= s.name %></td>
    <% end %>
  </tr>
  <% end %>
<% end %>
</table>