<html>

<head>
  <title>MMOG - !SPIELNAME!</title>

</head>

<div class="wrapper">
  <div class="header">

  </div>

  <div class="linksitemap">
    <ul>
      <li>Startseite</li>
      <li>Bla</li>
      <li>Anmelden/Abmelden</li>
    </ul>
  </div>

  <div class="content">
    CONTENT INTERFACE
  </div>

  <div class="rightsitemap">
    <div class="login">
      USER LOGIN INTERFACE
    </div>
  </div>

  <div class="footer">
    <span>Startseite</span>
    <span>Impressum</span>
  </div>
</div>
</html>