<p id="notice"><%= notice %></p>

<p>
  <strong>Mode:</strong>
  <%= @colonisationreport.mode %>
</p>

<%= link_to 'Edit', edit_colonisationreport_path(@colonisationreport) %> |
<%= link_to 'Back', colonisationreports_path %>
