<h3>Freundesliste</h3>

<table>
  <thead>
    <tr>
      <th>Befreundet mit:</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.friends.each do |friend| %>
      <tr>
        <td><%= friend.username %></td>
        <td><%= link_to 'entfernen', {:controller => "relationships", :action => "destroy",:id=> friend.id} , :method=>:delete, data: {confirm: 'Bist du dir sicher, dass du '+friend.username+" aus der Freundesliste entfernen willst?" }, class: 'label label-important', :style => 'color:#FFFFFF;' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Freunde hinzufügen', new_relationship_path %>
