<p id="notice"><%= notice %></p>

<h5><%= User.find_by_id(@relationship.user).username+' ist befreundet mit '+ User.find_by_id(@relationship.friend).username%><h5>

<%= link_to 'Back', relationships_path %>
