// Place all the styles related to the Buildingtypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trennerunten{
  border-style:solid ;
  border-bottom:thick solid #000;

}

.trennerrechts{
  border-style:solid;
  border-right:thick solid #000;
}