// Place all the styles related to the Buildingtypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trennerunten{
  /*border-style:solid ;
  border-bottom:1px solid #000;*/
  background-color: #CCC;

}

.trennerrechts{
  /*border-style:solid;
  border-right:1px solid #000;*/
}

table.gebaeudeliste{
  border: 1px solid #000;
}