// Place all the styles related to the Galaxies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.galaxyfield {border: 0px; background-color: #000; padding: 0px; margin: 0px; color: #FFF; width: 400px; height: 400px; overflow: hidden;}
.galaxyfield a{padding: 0px; margin: 0px; color: #FFF; text-decoration: none; text-align: right;}
.galaxyfield a:hover{color: #CC0;}
.galaxy{border-radius: 16px; opacity: 0.5; width: 80px; height: 80px;}
.galaxy_info_field{display: none;}
.visiblegalaxy{border: 1px dotted #99F; opacity: 1.0;}
.mygalaxy{border: 1px dotted #9F9; opacity: 1.0;}
.u80_1{
  background-image: image-url("galaxies/u/80_1.png");
}
.u80_2{
  background-image: image-url("galaxies/u/80_2.png");
}
.u80_3{
  background-image: image-url("galaxies/u/80_3.png");
}
.u80_4{
  background-image: image-url("galaxies/u/80_4.png");
}
.u80_5{
  background-image: image-url("galaxies/u/80_5.png");
}
.u80_6{
  background-image: image-url("galaxies/u/80_6.png");
}
.d80_1{
  background-image: image-url("galaxies/d/80_1.png");
}
.d80_2{
  background-image: image-url("galaxies/d/80_2.png");
}
.d80_3{
  background-image: image-url("galaxies/d/80_3.png");
}
.d80_4{
  background-image: image-url("galaxies/d/80_4.png");
}
.d80_5{
  background-image: image-url("galaxies/d/80_5.png");
}
.d80_6{
  background-image: image-url("galaxies/d/80_6.png");
}
.l80_1{
  background-image: image-url("galaxies/l/80_1.png");
}
.l80_2{
  background-image: image-url("galaxies/l/80_2.png");
}
.l80_3{
  background-image: image-url("galaxies/l/80_3.png");
}
.l80_4{
  background-image: image-url("galaxies/l/80_4.png");
}
.l80_5{
  background-image: image-url("galaxies/l/80_5.png");
}
.l80_6{
  background-image: image-url("galaxies/l/80_6.png");
}
.r80_1{
  background-image: image-url("galaxies/r/80_1.png");
}
.r80_2{
  background-image: image-url("galaxies/r/80_2.png");
}
.r80_3{
  background-image: image-url("galaxies/r/80_3.png");
}
.r80_4{
  background-image: image-url("galaxies/r/80_4.png");
}
.r80_5{
  background-image: image-url("galaxies/r/80_5.png");
}
.r80_6{
  background-image: image-url("galaxies/r/80_6.png");
}

.sunsystemordner{
  background-image: image-url("/images/backgrounds/sonnetest.png");
  background-repeat: no-repeat;
  color: #fff;
  width:490px;
  height: 490px;
  margin: auto auto;
  padding: 4px;
  position: relative;
}

.sunsyspos, .sunsyspos div{
 text-decoration: none;
  width:50px;
  height: 50px;
 display: inline;
 position: absolute;
  clear: both;
}

.sunsyspos:hover{
  text-decoration: none;
}

.sunsyspos1{
  top: 120px;
  left: 131px;
}

.sunsyspos2{
 top: 100px;
 left:86px;
}

.sunsyspos3{
  top: 150px;
  left:200px;
}

.sunsyspos4{
  top: 200px;
  left:400px;
}

.sunsyspos5{
  top: 250px;
  left:300px;
}

.sunsyspos6{
  top: 370px;
  left:420px;
}

.sunsyspos7{
  top: 120px;
  left:370px;
}

.galaxyinf{
  float: right;
  float: top;
}

