// Place all the styles related to the Planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.planetbox{
     position: relative;
 }

.ressources_s{
  color: #E0E0FF;
  text-shadow: 1px 1px 1px #000;
  display: inline;
  max-width: 750px;

}

.ressource_item_anzeige{
  display: inline-block;
  width: 125px;

}

.buildingsanzeige{

  color: #fff;
  width:490px;
  height: 490px;
  margin: auto auto;
  padding: 4px;
  position: relative;

}

.planetinfos{
  background-color: white;
}

.buildingpos{
  background-color: transparent;
  text-decoration: none;
  display: inline;
  position: absolute;
  width: 150px;
}

.buildingposOremine{
   top: 120px;
   left: -134px;
 }

.buildingposPowerplant{
  top: 120px;
  left:70px;
}

.buildingposCrystalmine{
  top: 120px;
  left:274px;
}

.buildingposDepot{
  top: 120px;
  left:470px;
}

.buildingposStarport{
  top: 320px;
  left: -134px;
}

.buildingposCity{
  top: 320px;
  left:70px;
}

.buildingposResearchLab{
  top: 320px;
  left:274px;
}

.buildingposHeadquarter{
  top: 320px;
  left:470px;
}

.buildingpos div{
  
}

.building_info_field {
  color: #000;
}

.pfeil{
  font-size: 20px;
  top: 20px;
  float: right;
}

.pfeil:hover{
   background-color: transparent;
   text-decoration: none;
}

.planet_info_anzeige{
  
}

.upgrade_building_btn{
  background-color: white;
  top: 600px;
  display: none;
}

.close_building_info{
  display: none;
}

.build_progress{
 
}


