// Place all the styles related to the Sunsystems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.planetordner{
  background-image: image-url("/images/backgrounds/background3.png");
  background-repeat: no-repeat;
  color: #fff;
  width:490px;
  height: 490px;
  margin: auto auto;
  padding: 4px;
  position: relative;
}

.planetspos, .planetspos div{
  text-decoration: none;
  width:50px;
  height: 50px;
  display: inline;
  position: absolute;
  clear: both;
}

.planetspos:hover{
  background-color: transparent;
  text-decoration: none;
}

.planetspos1{
  top: 1600px;
  left: 0px;
}

.planetspos2{
  top: 170px;
  left: 170px;

}

.planetspos3{
  top: 220px;
  left:30px;

}

.planetspos4{
  top: 250px;
  left:183px;
}

.planetspos5{
  top: 70px;
  left:300px;
}

.planetspos6{
  top: 200px;
  left:250px;
}

.planetspos7{
  top: 320px;
  left:250px;
}

.planetspos8{
  top: 410px;
  left:410px;
}

.sunsysinf{
  float: right;
  float: top;
}

.pfeil{
  font-size: 20px;
  top: 20px;
  float: right;
  color: black;
  background-color: #ffffff;
}

.pfeil:hover{
  background-color: transparent;
  text-decoration: none;
}