// Place all the styles related to the technologies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bar{
  z-index: 1;
  position: absolute;
}
.progress {
  position: relative;
}
.progress span {
  position: absolute;
  top: 0;
  z-index: 2;
  text-align: center;
  width: 100%;
  color: black;
}