<%= form_tag(edit_alliance_path+'/change_description')%>
	<p>	<%=label_tag ('Beschreibung: ') %>
		<p>
		<%= text_area_tag :description, @alliance.description, rows: 15, cols: 65%>
		<%= submit_tag 'Speichern' %>
		</p>
	</p>
</form>