<div class="well"><strong>Beschreibung</strong></div>
<%= form_tag(edit_alliance_path+'/change_description')%>
	<p>
		<%= text_area_tag :description, @alliance.description, class: 'readmsgarea' %>
		<br>
		<%= submit_tag 'Speichern', class: 'btn' %>
	</p>
</form>