<% if current_user.alliance==nil %>
  <p>
    <strong>Du bist nicht Mitglied einer Allianz.</strong>
  </p>
  <p>
    Lass dich einladen oder erstelle eine neue:
  </p>
  <%= render 'allianceCreateForm' %>
<% end %>